<p id="notice"><%= notice %></p>

<p>
  <strong>Realtest:</strong>
  <%= @realtestresult.realtest_id %>
</p>

<p>
  <strong>Test:</strong>
  <%= @realtestresult.test_id %>
</p>

<p>
  <strong>Testvalue:</strong>
  <%= @realtestresult.testvalue_id %>
</p>

<p>
  <strong>Testresult:</strong>
  <%= @realtestresult.testresult_id %>
</p>

<%= link_to 'Edit', edit_realtestresult_path(@realtestresult) %> |
<%= link_to 'Back', realtestresults_path %>
